# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
my_env/
*.csv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Vanna
vanna_chromadb_store/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*_old.py


# Data
363558f4-5707-4e9d-8659-ae5f6b5d2f96/
a5b846fc-2076-4b0a-98c6-71e7eb087f2a/

chroma.sqlite3
*.sql
*.md
*.txt
*.sh
ollama_models/
examples/
test_*.py
**/*.pid
